.c-list {
  display: flex;
  //   grid-template-columns: 1fr 2fr 2fr 2fr 1fr 3fr;
  align-items: center;
  width: 100%;
  background: white;
  padding: spacing("extra-small") spacing("extra-small");
  box-shadow: 0 0 0 1px rgba(black, 0.05);
}

.c-list__media {
  height: 60px;
  width: auto;
  margin-left: spacing("small");
}

.c-list__data {
  flex-grow: 1;
  margin-left: spacing("small");
}

.c-list__actions {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr;
  margin-right: auto;
  text-align: left;
  margin-left: spacing("small");
  opacity: 0;
  transition: all 200ms ease;
  //   grid-gap: 10px;
}

.c-list:hover .c-list__actions {
  opacity: 1;
}
