@import "config/variables";
@import "config/layout";
@import "config/colors";

@import "utilities/spacing.scss";

@import "base/fonts";
@import "base/global";
@import "base/typography";
@import "base/links";

@import "components/demo";
@import "components/components";

$background-color: silver;

body {
  background: $background-color;
}

h1 {
  font-size: 90px;
}
