@import "config/variables";
@import "config/layout";
@import "config/colors";

@import "utilities/spacing";
@import "utilities/mixing-card";

@import "base/fonts";
@import "base/global";
@import "base/typography";
@import "base/links";

@import "components/demo";
@import "components/components";

@import "pages/index";
@import "pages/single-page";
@import "hacks/add-product";

$background-color: #f2f2f2;

body {
  background: $background-color;
}

h1 {
  font-size: 90px;
}
